html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

jumbotron {
  display: flex;
  align-items: center;
  background-image: "29765451247_c33864c9ce_o.jpg";
  background-size: cover;
  color: #ffffff;
  color: #000000;
  height: 20000px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
